@use '../utils//vars';
@use '../utils/mixins';

.promotion-form {
  display: flex;
  flex-direction: column;

  &__title {
    @include mixins.font-500(20px, 28px);

    margin-bottom: 28px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
