@use "../utils/vars";
@use "../utils/mixins";

header {
  .container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px 14px 24px 14px;
    border-bottom: 1px solid vars.$gray-300;

    .page-title {
      @include mixins.font-600(16px, 36px);
      flex: 1;
      border-right: 1px solid vars.$gray-300;
    }
    .user-info {
      display: flex;
      gap: 12px;

      img {
        width: 44px;
        height: 44px;
      }

      .user-name {
        display: none;
      }
      .user-email {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .container {
      padding-left: 28px;
      .page-title {
        font-size: 30px;
      }

      .user-info {
        .user-name {
          @include mixins.font-600(15px, 24px);
          display: block;
        }
        .user-email {
          @include mixins.font-300(14px, 20px);
          display: block;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  header {
    .container {
      padding-left: 40px;
      padding-right: 28px;
    }
  }
}
