$body-color: #fff;
$secondary-background-color: #f3f4f6;
$promotion-banner-background: #d9d9d9;
$test-color: yellow;

$purple-200: #e9d5ff;
$lime-200-: #d9f99d;
$gray-900: #111827;

$primary-text-color: $gray-900;

$status-active-color: #dcfce7;
$status-not-active-color: #fee2e2;
$status-pending-color: #ffedd5;
$status-suspended-color: #dbeafe;
