$body-color: #fff;
$secondary-background-color: #f3f4f6;
$promotion-banner-background: #d9d9d9;
$backdrop-color: rgb(17 24 39 / 60%);

$white: #fafafa;
$purple-200: #e9d5ff;
$purple-400: #c084fc;
$lime-200: #d9f99d;
$blue-400: #60a5fa;
$blue-700: #1d4ed8;
$gary-50: #f9fafb;
$gray-300: #d1d5db;
$gray-500: #6b7280;
$gray-900: #111827;
$green-700: #15803d;
$orange-400: #fb923c;
$orange-700: #c2410c;
$red-700: #b91c1c;
$rose-400: #fb7185;
$slate-900: #0f172a;
$emerald-400: #34d399;

$primary-text-color: $gray-900;

$status-active-color: #dcfce7;
$status-not-active-color: #fee2e2;
$status-pending-color: #ffedd5;
$status-suspended-color: #dbeafe;
