@use '../utils/vars';
@use '../utils/mixins';

.header {
  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px 14px;
    border-bottom: 1px solid vars.$gray-300;
  }

  &__page-title {
    @include mixins.font-600(16px, 36px);

    flex: 1;
    border-right: 1px solid vars.$gray-300;
  }

  &__user-info {
    display: flex;
    gap: 12px;
  }

  &__user-avatar {
    width: 44px;
    height: 44px;
  }

  &__user-name {
    display: none;
  }

  &__user-email {
    display: none;
  }
}

@media screen and (width >= 768px) {
  .header {
    &__container {
      padding-left: 28px;
    }

    &__page-title {
      font-size: 30px;
    }

    &__user-name {
      @include mixins.font-600(15px, 24px);

      display: block;
    }

    &__user-email {
      @include mixins.font-300(14px, 20px);

      display: block;
    }
  }
}

@media (width >= 1280px) {
  .header {
    &__container--dashboard {
      padding-left: 40px;
      padding-right: 28px;
    }

    &__container--companies,
    &__container--company {
      padding-right: 40px;
    }
  }
}
