@charset "UTF-8";
/* plus-jakarta-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/crm-test/fonts/plus-jakarta-sans-v8-latin-400.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/crm-test/fonts/plus-jakarta-sans-v8-latin-400.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/crm-test/fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/crm-test/fonts/plus-jakarta-sans-v8-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: pointer;
  border: none;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style-position: inside;
  color: #111827;
  background-color: #fff;
  line-height: 24px;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.body-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: auto;
  margin-right: auto;
}
.aside {
  position: fixed;
  display: block;
  width: 100%;
  padding: 32px 16px 40px 16px;
  background-color: #111827;
}

.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
}
.nav-bar .logo__link {
  display: block;
  margin-top: 0;
}
.nav-bar .logo__link .logotype {
  width: 122px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.nav-bar .nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  margin-top: 32px;
  gap: 28px;
  color: #fafafa;
}
.nav-bar .nav-list__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
}
.nav-bar .nav-list__link.current::after {
  content: "";
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #e9d5ff;
}
.nav-bar .nav-list__link.dashboard-link::before {
  content: url("../images/dashboard-icon.svg");
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  color: #fafafa;
}
.nav-bar .nav-list__link.companies-link::before {
  content: url("../images/companies-icon.svg");
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  color: #fafafa;
}
.nav-bar .exit-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  padding: 3px;
  gap: 8px;
  width: 55px;
  height: 24px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: inherit;
  color: #fafafa;
}
.nav-bar .exit-button img {
  width: 18px;
  height: 18px;
}
.nav-bar .exit-button span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 2px;
}
main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  width: 100%;
}

header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d1d5db;
}
header .container .page-title {
  font-weight: 600;
  font-size: 16px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
          flex: 1;
  line-height: 36px;
  border-right: 1px solid #d1d5db;
}
header .container .user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  gap: 12px;
}
header .container .user-info img {
  width: 44px;
  height: 44px;
}
header .container .user-info .user-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
header .container .user-info .user-email {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}
@media (min-width: 768px){
  .body-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
            flex-direction: row;
  }
  .aside {
    width: 240px;
    height: 100vh;
  }
  .nav-bar {
    height: 100%;
  }
  .nav-bar .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
  }
  .nav-bar .nav-list__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
  }
  .nav-bar .nav-list__link.current::after {
    right: -12px;
    width: 4px;
    height: 36px;
    margin-left: auto;
    border-radius: 2px;
    background-color: #e9d5ff;
  }
  .nav-bar .exit-button {
    right: 8px;
    margin-top: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px){
  .container {
    padding-left: 28px;
    padding-right: 14px;
  }
  header .container .page-title {
    font-size: 30px;
  }
  header .container .user-info .user-name {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
  }
  header .container .user-info .user-email {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1200px){
  .container {
    padding-left: 40px;
    padding-right: 28px;
  }
}