@charset "UTF-8";
/* plus-jakarta-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/plus-jakarta-sans-v8-latin-400.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/plus-jakarta-sans-v8-latin-400.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/plus-jakarta-sans-v8-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: pointer;
  border: none;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
  display: block;
  width: 100%;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style-position: inside;
  color: #111827;
  background-color: #fff;
  line-height: 24px;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  padding: 20px;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  max-height: 1024px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .body-wrapper {
    flex-direction: row;
  }
}

.aside {
  position: fixed;
  display: block;
  width: 100%;
  padding: 32px 16px 40px 16px;
  background-color: #111827;
}

.nav-bar {
  display: flex;
  flex-direction: column;
}
.nav-bar .logo__link {
  display: block;
  margin-top: 0;
}
.nav-bar .logo__link .logotype {
  width: 122px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.nav-bar .nav-list {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 6px;
  gap: 28px;
  color: #fafafa;
}
.nav-bar .nav-list__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
}
.nav-bar .nav-list__link.current::after {
  content: "";
  position: relative;
  display: flex;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #e9d5ff;
}
.nav-bar .nav-list__link.dashboard-link::before {
  content: url("../images/dashboard-icon.svg");
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  color: #fafafa;
}
.nav-bar .nav-list__link.companies-link::before {
  content: url("../images/companies-icon.svg");
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  color: #fafafa;
}
.nav-bar .exit-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3px;
  gap: 8px;
  width: 55px;
  height: 24px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: inherit;
  color: #fafafa;
}
.nav-bar .exit-button img {
  width: 18px;
  height: 18px;
}
.nav-bar .exit-button span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 2px;
}

@media (min-width: 768px) {
  .aside {
    width: 240px;
    height: 100vh;
  }
  .nav-bar {
    height: 100%;
  }
  .nav-bar .nav-list {
    flex-direction: column;
    margin-top: 77px;
  }
  .nav-bar .nav-list__link {
    display: flex;
    align-items: center;
    height: 36px;
  }
  .nav-bar .nav-list__link.current::after {
    right: -12px;
    width: 4px;
    height: 36px;
    margin-left: auto;
    border-radius: 2px;
    background-color: #e9d5ff;
  }
  .nav-bar .exit-button {
    right: 8px;
    margin-top: auto;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .aside {
    width: 240px;
    max-height: 1024px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  width: 100%;
  height: 100vh;
}
main .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  width: 100%;
  max-width: 1200px;
  padding: 24px 14px 24px 14px;
  margin-left: auto;
  margin-right: auto;
}
main .container section {
  width: 100%;
  border: 1px;
  border-radius: 4px;
}
main .container .stats,
main .container .sales {
  padding: 0;
}

@media (min-width: 768px) {
  main .container {
    padding-left: 28px;
  }
}
@media (min-width: 1280px) {
  main .container {
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 40px 28px 40px 40px;
  }
  main .container .stats {
    grid-column: span 12/span 12;
  }
  main .container .sales {
    grid-column: span 5/span 12;
  }
  main .container .categories {
    grid-column: span 7/span 12;
  }
  main .container .countries,
  main .container .promotions {
    grid-column: span 6/span 12;
  }
}
header .container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 24px 14px 24px 14px;
  border-bottom: 1px solid #d1d5db;
}
header .container .page-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  flex: 1;
  border-right: 1px solid #d1d5db;
}
header .container .user-info {
  display: flex;
  gap: 12px;
}
header .container .user-info img {
  width: 44px;
  height: 44px;
}
header .container .user-info .user-name {
  display: none;
}
header .container .user-info .user-email {
  display: none;
}

@media screen and (min-width: 768px) {
  header .container {
    padding-left: 28px;
  }
  header .container .page-title {
    font-size: 30px;
  }
  header .container .user-info .user-name {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    display: block;
  }
  header .container .user-info .user-email {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    display: block;
  }
}
@media (min-width: 1280px) {
  header .container {
    padding-left: 40px;
    padding-right: 28px;
  }
}
.stats-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 12px;
}
.stats-wrapper__cell {
  grid-column: span 2/span 4;
  padding: 28px;
  border-radius: 4px;
  background-size: cover;
}
.stats-wrapper__cell:nth-child(4n+1) {
  background-image: url("../images/mesh-gradient-1.svg");
}
.stats-wrapper__cell:nth-child(4n+2) {
  background-image: url("../images/mesh-gradient-2.svg");
}
.stats-wrapper__cell:nth-child(4n+3) {
  background-image: url("../images/mesh-gradient-3.svg");
}
.stats-wrapper__cell:nth-child(4n+4) {
  background-image: url("../images/mesh-gradient-4.svg");
}
.stats-wrapper__cell .stat-name {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}
.stats-wrapper__cell .stat-name::before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #111827;
}
.stats-wrapper__cell .stat-value {
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stats-wrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .stats-wrapper__cell .stat-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .stats-wrapper__cell .stat-name::before {
    content: "";
    width: 16px;
  }
  .stats-wrapper__cell .stat-value {
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    margin-left: 24px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .stats-wrapper {
    gap: 20px;
  }
  .stats-wrapper__cell {
    grid-column: span 1/span 4;
  }
}
.sales {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  overflow: hidden;
}
.sales table {
  width: 100%;
  border-spacing: 0;
}
.sales table thead tr th {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 20px;
  text-align: left;
}
.sales table thead tr th:first-of-type {
  border-radius: 2px 0 0 2px;
}
.sales table thead tr th:last-of-type {
  border-radius: 0 2px 2px 0;
}
.sales table thead tr th:nth-child(1) {
  color: #ffffff;
  background-color: #111827;
}
.sales table thead tr th:nth-child(2) {
  text-align: center;
  background-color: #e9d5ff;
}
.sales table thead tr th:nth-child(3) {
  text-align: center;
  background-color: #d9f99d;
}
.sales table tbody tr:nth-child(2n) {
  background-color: #f3f4f6;
}
.sales table tbody tr:nth-child(2n+1) {
  background-color: #ffffff;
}
.sales table tbody tr td {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 19px;
  text-align: center;
  border-right: 1px solid #f3f4f6;
}
.sales table tbody tr td:not(:first-of-type) {
  width: 104px;
}
.sales table tbody tr td:first-of-type {
  display: flex;
  gap: 8px;
  border-left: 1px solid #f3f4f6;
}
.sales table tbody tr td img {
  width: 20px;
  height: 20px;
}

.categories {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
}
.categories .categories-wrapper {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 12px;
  padding: 0 20px 20px 20px;
}
.categories .categories-wrapper__cell {
  grid-column: span 4/span 4;
  padding: 12px 12px 0 12px;
  background-color: #111827;
  border-radius: 4px;
}
.categories .categories-wrapper__cell .category {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  color: #fafafa;
}
.categories .categories-wrapper__cell .category::before {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 8px;
  border-radius: 20px;
  background-color: #fafafa;
}
.categories .categories-wrapper__cell .value {
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  text-align: end;
}
.categories .categories-wrapper__cell:nth-of-type(2n) {
  color: #d9f99d;
}
.categories .categories-wrapper__cell:nth-of-type(2n + 1) {
  color: #e9d5ff;
}

@media screen and (min-width: 768px) {
  .categories .categories-wrapper {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .categories .categories-wrapper__cell {
    grid-column: span 3/span 3;
    padding: 12px 12px 0 12px;
    background-color: #111827;
    border-radius: 4px;
  }
}
.countries {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
}
.countries .countries-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
  padding: 0 20px 20px 20px;
}
.countries .countries-list {
  font-weight: 300;
  font-size: 9px;
  line-height: 10px;
  grid-column: span 4/span 4;
  display: flex;
  justify-content: space-between;
  align-self: last baseline;
}
.countries .countries-list li {
  display: flex;
  align-items: center;
}
.countries .countries-list li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 2px;
  border-radius: 2px;
  background-color: #e9d5ff;
}
.countries .world-map {
  grid-column: span 4/span 4;
}
.countries .world-map img {
  width: 300px;
  height: 195px;
}

@media screen and (min-width: 425px) {
  .countries .countries-wrapper .countries-list {
    grid-column: span 1/span 4;
    flex-direction: column;
  }
  .countries .countries-wrapper .world-map {
    grid-column: span 3/span 4;
  }
}
@media screen and (min-width: 768px) {
  .countries .countries-wrapper .countries-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    grid-column: span 1/span 4;
    flex-direction: column;
  }
  .countries .countries-wrapper .countries-list li {
    display: flex;
    margin-bottom: 8px;
  }
  .countries .countries-wrapper .countries-list li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #e9d5ff;
  }
  .countries .countries-wrapper .world-map {
    grid-column: span 3/span 4;
  }
  .countries .countries-wrapper .world-map img {
    width: 395px;
    height: 260px;
  }
}
.promotions {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  overflow: hidden;
}
.promotions table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.promotions table thead tr th {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 20px;
  text-align: start;
}
.promotions table thead tr th:first-of-type {
  border-radius: 2px 0 0 2px;
}
.promotions table thead tr th:last-of-type {
  border-radius: 0 2px 2px 0;
}
.promotions table thead tr th:nth-child(1) {
  width: 268px;
  color: #ffffff;
  background-color: #111827;
}
.promotions table thead tr th:nth-child(2) {
  width: 180px;
  background-color: #e9d5ff;
}
.promotions table thead tr th:nth-child(3) {
  background-color: #d9f99d;
}
.promotions table tbody tr:nth-child(2n) {
  background-color: #f3f4f6;
}
.promotions table tbody tr:nth-child(2n+1) {
  background-color: #ffffff;
}
.promotions table tbody tr td {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 20px;
  text-align: start;
  border-right: 1px solid #f3f4f6;
}
.promotions table tbody tr td:first-of-type {
  display: flex;
  gap: 8px;
  border-left: 1px solid #f3f4f6;
}
.promotions table tbody tr td img {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */